@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
//@import "../../css/variables";
//$bg-steve-jobs: url('../assets/images/backgrounds/steve-jobs.jpg');
$bg-albert-einstein: url('../../../assets/images/backgrounds/albert-einstein.jpg');
$bg-inigo-montoya: url('../../../assets/images/backgrounds/inigo-montoya.jpg');
$bg-steve-jobs: url('../../../assets/images/backgrounds/steve-jobs.jpg');
$bg-jerry-seinfeld: url('../../../assets/images/backgrounds/jerry-seinfeld.jpg');
.steve-jobs {
    background-image: linear-gradient(to bottom right, rgba($primary, 1), rgba($black, .7), rgba($primary, .5)), $bg-steve-jobs;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 568px;
    background-color: $primary;
    margin: 0;
    padding-top: 25vh;
    text-align: left;
    position: static;
    overflow: hidden;
    p {
        font-weight: 100;
        font-size: 1.1rem;
        text-shadow: .1rem .1rem .5rem $black;
        color: $light;
        opacity: .8;
        &:not(:last-of-type) {
            margin-bottom: 3rem;
        }
        &.lead {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 2rem;
            text-shadow: .25rem .25rem .55rem rgba($black, .7);
            line-height: 1.25;
            opacity: 1;
            small {
                display: block;
                margin: .25rem 0 1rem 5rem;
                font-size: 1.15rem;
                font-weight: 100;
            }
        }
    }
}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    .steve-jobs {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: $primary;
        margin: 0;
        padding-top: 20vh;
        text-align: left;
        p {
            font-weight: 100;
            font-size: 1.1rem;
            text-shadow: .1rem .1rem .5rem $black;
            color: $light;
            opacity: .8;
            &:not(:last-of-type) {
                margin-bottom: 5rem;
            }
            &.lead {
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                font-size: 4rem;
                text-shadow: .25rem .25rem .55rem rgba($black, .7);
                line-height: 1.25;
                opacity: 1;
                small {
                    display: block;
                    margin: .25rem 0 3rem 8rem;
                    font-size: 1.15rem;
                    font-weight: 100;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-between(md,
xl) {}