<div class="jumbotron jumbotron-fluid steve-jobs">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <p class="lead">Creativity<small>is just connecting things.</small></p>
                <p>When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something...</p>
                <p class="small">- Steve Jobs</p>
                <!-- <app-experience-list [items]="experiences$ | async"></app-experience-list> -->
            </div>
        </div>
    </div>
</div>