<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="w-100 d-flex align-items-center">
                    <div class="flex-fill">
                        &copy; Copywrite {{title}}
                    </div>
                    <div class="flex-fill text-right">
                        <app-social-links></app-social-links>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>