@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
section#footer {
    font-size: .75rem;
    color: $secondary;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: darken($light, 5%);
    border-top: 1px solid darken($light, 15%);
}