@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
#download-on-github {
    position: fixed;
    right: 4rem;
    top: .25rem;
    z-index: 1030;
    font-size: 2rem;
    a {
        opacity: .5;
        color: $white;
        text-shadow: 0.015rem 0.25rem 0.75rem rgba($dark, .5);
        transition: all .15s linear;
        -webkit-transition: all .15s linear;
        &:hover {
            opacity: 1;
        }
    }
}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    #download-on-github {
        right: 1.5rem;
        top: 3rem;
        font-size: 3rem;
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-between(md, xl) {}