<p>kb-html-content works!</p>

<!-- 
<h2>Getting Started</h2>
                <p *ngIf="kbDetail.text" [innerHTML]=kbDetail.text></p>
                <h3 *ngIf="kbDetail.requirements">Requirements</h3>
                <ol id="ul-requirement-links" class="" *ngIf="kbDetail.requirements && kbDetail.requirements.links">
                    <li class="m-2 mt-0" *ngFor="let link of kbDetail.requirements.links">
                        <span [innerHTML]="link.text"></span>
                        <br>
                        <a *ngIf="link.downloadLink" [href]="link.downloadLink.url" class="" target="_blank">{{link.downloadLink.title}}</a>
                        <code *ngIf="link.codeBlock">{{link.codeBlock}}</code>
                    </li>
                </ol>

                 -->