@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
section#about {
    background-color: $light;
    font-size: .925rem;
    .funny-seinfeld {
        // TODO: THIS IS HORRIBLE, REDO SO IT RESPONDS
        min-height: 300px;
        background-image: url("../../assets/images/backgrounds/seinfeld.png"), linear-gradient(to bottom, rgba($primary, 1), rgba($primary, .4), rgba($primary, .5));
        background-position: 75% bottom;
        background-repeat: no-repeat;
    }
    .jerry-seinfeld {
        min-height: 350px;
        // background-image: linear-gradient(to bottom, rgba($primary, 1), rgba($primary, 0), rgba($primary, 0), rgba($primary, .2)), url("../../assets/images/backgrounds/jerryseinfeld_2017.jpg");
        background-image: linear-gradient(to bottom right, rgba($primary, 1), rgba($primary, .2), rgba($primary, 0), rgba($primary, .6)), url("../../assets/images/backgrounds/jerryseinfeld.jpg");
        //background-image: linear-gradient(to bottom, rgba($primary, 1), rgba($primary, .1), rgba($primary, .2), rgba($primary, .2)), url("../../assets/images/backgrounds/jerryseinfeld.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        h1 {
            color: lighten($primary, 25%);
            font-size: 3rem;
            text-shadow: .25rem .25rem .75rem rgba($black, .7);
        }
        p {
            &.lead {
                font-size: 1.5rem;
                font-style: italic;
            }
            text-shadow: .2rem .2rem .75rem $black;
            color: $light;
        }
    }
    .duck {
        // TODO: THIS IS HORRIBLE, REDO SO IT RESPONDS
        min-height: 50vh;
        background-image: linear-gradient(to bottom, rgba($primary, 1), rgba($primary, .4), rgba($primary, .5)), url("../../assets/images/backgrounds/stealth-pistons.jpg");
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
}