<section id="about">

    <div class="jumbotron jumbotron-fluid jerry-seinfeld">
        <div class="container">
            <p class="lead">User Experience</p>
            <p>Is like a bad joke...</p>
            <p class="small">If you have to explain it then it is not funny.</p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h2>sarmbrec</h2>
                <p class="lead">It's more than just a nickname...</p>
                <p>
                    It all starts back in the late ninties when I earned my first developer job while working for a major financial institution. At the time I was working for a help desk supporting the online access call centers in Charlotte NC and Richmond VA. I was getting
                    bored at work so I started to teach myself HTML 3.5. This lead to CSS, JavaScript, DHTML, MS Access, SQL, ASP, and IIS of course running on my workstation so I could see what I was building.
                </p>
                <p>
                    I decided I needed something that would allow me to tie all the above together and help me learn how to do so. The project I thought of was an intranet site that would allow a user ( help desk rep like me) to enter the calls recieved while working, enter
                    ticket numbers, enter known resolutions, and to have it searchable in order to resolve calls for the customers instantly.
                </p>
                <p>
                    I built the site and ran it locally on my machine with IIS. My team members on the help desk started using it immediately. We resolved almost all issues on the first inbound call now and no longer required our customer to wait for a resolution. Our customers
                    were happier, our phone reps were happier. Our call volume increased with an increase in resolutions and decrease in open tickets.
                </p>
                <p>
                    After a couple more weeks, our call volume dropped significantly. The IP address for the intranet site had gotten out to our call center reps and they were now using it instead of calling us. I was so excited that I had built something that helped, not
                    only my team, but our reps, and most importantly our customers. I was offered a position as a web developer. The corporate policy for user name was the first initial of your first name followed by your last name. Due to a character
                    limit the "ht" was trimmed off and sarmbrec was the result. I was nick named sarmbrec by the admin and the name stuck with me since.
                </p>
            </div>
            <div class="col-md-4">
                <p class="lead">
                    Now with 50% more WOW!
                </p>
                <hr>
                <app-testimonials></app-testimonials>
                <hr>
            </div>
        </div>
    </div>

</section>