@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
section#knowledge-base {
    background-color: darken($light, 5%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    .card-columns {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        // -webkit-animation-fill-mode: both;
        // animation-fill-mode: both;
        column-count: 1;
    }
    .card-body {
        font-size: .9rem;
        .logo {
            height: 30px;
            width: auto;
            float: right;
            margin: -.5rem -.5rem 0 0;
            filter: grayscale(100%);
            opacity: .7;
        }
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

@include media-breakpoint-up(xs) {
    section#knowledge-base {
        .card-columns {
            column-count: 1;
        }
    }
}

@include media-breakpoint-up(sm) {
    section#knowledge-base {
        .card-columns {
            column-count: 2;
        }
    }
}

@include media-breakpoint-up(md) {
    section#knowledge-base {
        .card-columns {
            column-count: 2;
        }
    }
}

@include media-breakpoint-up(lg) {
    section#knowledge-base {
        .card-columns {
            column-count: 3;
        }
    }
}

@include media-breakpoint-up(xl) {
    section#knowledge-base {
        .card-columns {
            column-count: 4;
        }
    }
}

@include media-breakpoint-between(md, xl) {}