@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
#social-icon-links {
    position: fixed;
    right: 3rem;
    top: .23rem;
    z-index: 1030;
    font-size: 2rem;
    a {
        display: inline-block;
        margin-right: .5rem;
        opacity: .5;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1;
        transform: scale(1);
        transition: all .12s linear;
        -webkit-transition: all .12s linear;
        &:hover {
            opacity: 1;
            transform: scale(1.1);
            color: lighten($secondary, 100%);
            text-shadow: .25rem .25rem .75rem rgba($black, .5);
        }
    }
}

// @include media-breakpoint-up(xs) {}
// @include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {
    #social-icon-links {
        right: .65rem;
        top: 3.75rem;
        font-size: 2.5rem;
        z-index: 900;
        a {
            color: lighten($secondary, 20%);
            display: block;
            margin-bottom: .75rem;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (max-device-height: 414px) and (orientation: landscape) {
    #social-icon-links {
        right: .65rem;
        top: 3.75rem;
        font-size: 2.5rem;
        z-index: 900;
        a {
            color: lighten($secondary, 20%);
            display: block;
            margin-bottom: .75rem;
        }
    }
}

// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}