$bg-albert-einstein: url('/assets/images/backgrounds/albert-einstein.jpg');
$bg-inigo-montoya: url('/assets/images/backgrounds/inigo-montoya.jpg');
$bg-steve-jobs: url('/assets/images/backgrounds/steve-jobs.jpg');
$bg-jerry-seinfeld: url('/assets/images/backgrounds/jerry-seinfeld.jpg');