<section id="page-not-found">
    <div class="container">
        <div class="row">
            <div class="col-12 align-bottom">
                <h1>404</h1>
                <h2>Path not found</h2>
                <p class="lead">
                    Some may see a path not found, others will see the adventure and opportunity ahead.
                </p>
            </div>

            <!-- <div class="col-12 align-bottom">
              <img id="clip-art" src="/assets/images/clip-art/rick-head.png">
                <p>
                    Wubba lubba dub dub!
                </p>
                
            </div> -->

        </div>
    </div>
</section>