<h1>Contact us</h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && contactForm.controls.name.errors" class="error">
      <div *ngIf="contactForm.controls.name.errors.required">Your name is required, bro.</div>
    </div>
  </label>

    <label>
    Message:
    <textarea formControlName="message"></textarea>
    <div *ngIf="submitted && contactForm.controls.message.errors" class="error">
      <div *ngIf="contactForm.controls.message.errors.required">A message is required</div>
    </div>
  </label>

    <input type="submit" value="Send message" class="cta">

</form>

<div *ngIf="submitted" class="results">
    <strong>Name:</strong>
    <span>{{ contactForm.controls.name.value }}</span>

    <strong>Message:</strong>
    <span>{{ contactForm.controls.message.value }}</span>
</div>