<section id="contact">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">

                <h1>Contact {{appTitle}}</h1>

                <div class="alert alert-info">
                    {{diagnostic}}
                </div>

                <!-- <form (ngSubmit)="onSubmit()" #contactForm="ngForm"> -->
                <!-- <form #contactForm="ngForm"> -->
                <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" id="name" name="name" required #spy>
                        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Name is required
                        </div> -->
                        <!-- aria-describedby="messageFeedback" -->
                        <br>TODO: remove this: spy.className | {{spy.className}}
                        <!-- <br>TODO: remove this: model.name | {{model.name}} -->
                    </div>


                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" formControlName="email" id="email" name="email" placeholder="Enter your email address" required>
                    </div>
                    <div class="form-group">
                        <label for="_replyto">Reply to</label>
                        <input type="email" class="form-control" formControlName="_replyto" id="_replyto" name="_replyto" placeholder="_replyto" required>
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" formControlName="message" id="message" name="message" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                    <!-- <button type="button" class="btn btn-default" (click)="heroForm.reset()">Reset Hero</button>
                    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button> -->


                </form>



            </div>
            <div class="col-12 col-md-4">
                <h2>What to do here?</h2>

                <p>cross sell knowledge base and experience?</p>

                <p>do humerous promos linking back to them, maybe promos for each kb</p>
            </div>
        </div>
    </div>

</section>