@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
@import "../../assets/css/variables";
section#contact {
    background-color: $white;
    .results {
        strong {
            display: block;
        }
        span {
            margin-bottom: 20px;
            display: block;
        }
    }
    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42A948;
        /* green */
    }
    .ng-invalid:not(form) {
        border-left: 5px solid #a94442;
        /* red */
    }
}

.jerry-seinfeld {
    background-image: linear-gradient(to bottom right, rgba($primary, 1), rgba($primary, .3), rgba($black, .2), rgba($primary, .5)), $bg-base64-seinfeld;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100vw;
    background-color: $primary;
    margin: 0 0 2rem 0;
    padding-top: 20vh;
    text-align: right;
    position: static;
    overflow: hidden;
    p {
        font-weight: 100;
        font-size: 1.1rem;
        text-shadow: .1rem .1rem .5rem $black;
        color: $light;
        &.lead {
            font-family: 'Roboto', sans-serif;
            font-size: 1.75rem;
            text-shadow: .25rem .25rem .75rem rgba($black, .7);
            line-height: 1.25;
        }
    }
}

@include media-breakpoint-up(sm) {
    .jerry-seinfeld {
        background-position: right center;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 45vh;
        p {
            font-size: 1.25rem;
            &.lead {
                font-size: 3rem;
            }
        }
    }
}