@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
section#contact {
    background-color: $light;
    font-size: .925rem;
    padding: 2rem 0;
    .results {
        strong {
            display: block;
        }
        span {
            margin-bottom: 20px;
            display: block;
        }
    }
    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42A948;
        /* green */
    }
    .ng-invalid:not(form) {
        border-left: 5px solid #a94442;
        /* red */
    }
}