<section id="section-carousel" *ngIf="carouselItems">
    <ngb-carousel *ngIf="carouselItems" class="slide">
        <ng-template ngbSlide *ngFor="let item of carouselItems; index as i">
            <div class="carousel-item-background" [ngStyle]="{'background-image':'url(' + item.background + ')'}">
                <div class="carousel-caption" [ngClass]="{'active': toggleClassActive}" (click)="toggleActiveClass()">
                    <img [src]="baseUrl + item.logo.url" id="logo-techstack" [ngClass]="{'active': toggleClassActive}" [ngStyle]="{ 'width':item.logo.width, 'height':item.logo.height} " />
                    <h1 class="small text-muted" [ngClass]="{'active': toggleClassActive}">{{item.title}}</h1>
                    <p [ngClass]="{'active': toggleClassActive}">{{item.text}}</p>
                    <hr />
                    <a *ngFor="let item of item.links; index as i" [hidden]="!toggleClassActive" class="btn btn-outline-dark" [href]="item.url" target="_blank">{{item.title}}</a>
                    <a [routerLink]="['/knowledge', item.urlDetailView]" class="btn btn-primary ">My {{item.title}} Resources</a>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</section>