<div class="jumbotron jumbotron-fluid {{items.className}}" *ngIf="items">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <p *ngIf="items.leadText" class="leadText">{{items.leadText}}</p>
                    <p *ngIf="items.leadTextSmall" class="leadTextSmall">{{items.leadTextSmall}}</p>
                    <p *ngIf="items.mainText" class="mainText">{{items.mainText}}</p>
                    <p *ngIf="items.smallText" class="smallText">{{items.smallText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>