@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
@import "../../css/variables";
$bg-albert-einstein: url('../../../assets/images/backgrounds/albert-einstein.jpg');
$bg-inigo-montoya: url('../../../assets/images/backgrounds/inigo-montoya.jpg');
$bg-steve-jobs: url('../../../assets/images/backgrounds/steve-jobs.jpg');
$bg-jerry-seinfeld: url('../../../assets/images/backgrounds/jerry-seinfeld.jpg');
.jumbotron {
    overflow: hidden;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $primary;
    background-size: auto 100%;
    height: 50vh;
    text-align: left;
    margin: 0;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.35;
    color: $light;
    text-shadow: .12rem .12rem .125rem $black;
    .leadText {
        //margin: 4rem 0 0 0;
        font-size: 1.75rem;
        font-weight: 100;
    }
    .leadTextSmall {
        //margin: .25rem 0 1rem 1rem;
        font-size: 1rem;
        font-weight: 100;
    }
    .mainText {
        //margin: 0;
        font-size: 1.1rem;
        font-weight: 100;
    }
    .smallText {
        //margin: 1rem 0 2rem 0;
        font-size: .9rem;
        font-weight: 100;
    }
}

.albert-einstein {
    background-image: $bg-gradient-brand, $bg-albert-einstein;
    text-align: right;
}

.jerry-seinfeld {
    background-image: $bg-gradient-brand, $bg-jerry-seinfeld;
    background-position: center top;
    text-align: right;
}

.steve-jobs {
    background-image: $bg-gradient-brand, $bg-steve-jobs;
}

.inigo-montoya {
    background-image: $bg-gradient-brand, $bg-inigo-montoya;
    text-align: right;
}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {
    .jumbotron {
        .leadText {
            margin: 4rem 0 0 0;
            font-size: 2.25rem;
            font-weight: 100;
        }
        .leadTextSmall {
            margin: .25rem 0 1rem 1rem;
            font-size: 1rem;
            font-weight: 100;
        }
        .mainText {
            margin: 0;
            font-size: 1.1rem;
            font-weight: 100;
        }
        .smallText {
            margin: 1rem 0 2rem 0;
            font-size: .9rem;
            font-weight: 100;
        }
    }
}

@include media-breakpoint-up(xl) {
    // .jumbotron {
    // }
}

@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .jumbotron {
        background-size: auto 100%;
    }
}

@supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .jumbotron {
        background-size: cover;
    }
}


/* Landscape */

@media only screen and (min-device-width: 560px) and (max-device-width: 1400px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .jumbotron {
        height: 80vh;
    }
}

// @media only screen and (min-device-width: 821px) and (max-device-width: 1400px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
//     .jumbotron {//         
//         // background-size: auto 970px;
//         // height: auto;
//     }
// }