@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
@import "../../css/variables";
$bg-albert-einstein: url('../../../assets/images/backgrounds/albert-einstein.jpg');
$bg-inigo-montoya: url('../../../assets/images/backgrounds/inigo-montoya.jpg');
$bg-steve-jobs: url('../../../assets/images/backgrounds/steve-jobs.jpg');
$bg-jerry-seinfeld: url('../../../assets/images/backgrounds/jerry-seinfeld.jpg');
$bg-data-star-trek: url('../../../assets/images/backgrounds/data-star-trek.jpg');
.jumbotron {
    background-repeat: no-repeat;
    background-color: $primary;
    background-position: center;
    background-size: cover;
    height: 45vh;
    margin: 0;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.35;
    color: $light;
    text-shadow: .12rem .12rem .125rem $black;
    .leadText {
        margin: 0 0 1rem 0;
        font-size: 1.75rem;
        font-weight: 100;
        @include media-breakpoint-up(md) {
            font-size: 2.5rem;
            font-weight: 100;
        }
    }
    .leadTextSmall {
        margin: .25rem 0 0 0;
        font-size: 1.25rem;
        font-weight: 100;
        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
            font-weight: 100;
        }
    }
    .mainText {
        margin: 1rem 0;
        font-size: 1.25rem;
        font-weight: 100;
        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
            font-weight: 100;
        }
    }
    .smallText {
        margin: 0 0 2rem 0;
        font-size: .9rem;
        font-weight: 100;
        @include media-breakpoint-up(md) {
            font-size: 1rem;
            font-weight: 100;
        }
    }
}

.albert-einstein {
    background-image: $bg-gradient-brand, $bg-albert-einstein;
}

.jerry-seinfeld {
    background-image: $bg-gradient-brand, $bg-jerry-seinfeld;
    background-position: center top;
    @include media-breakpoint-up(xl) {
        background-position: center 20%;
    }
}

.steve-jobs {
    background-image: $bg-gradient-brand, $bg-steve-jobs;
}

.inigo-montoya {
    background-image: $bg-gradient-brand, $bg-inigo-montoya;
}

.data-star-trek {
    background-image: $bg-gradient-brand, $bg-data-star-trek;
}