<section id="experience-detail" *ngIf="detail$ | async as detail">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9">
                <div class="row">

                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="/experience">Experience</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{detail.company}}</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-12" *ngIf="detail.company || detail.agency.title">
                        <div class="d-flex">
                            <!-- <i class="fa fa-chevron-left"></i> -->
                            <h1 class="w-100" *ngIf="detail.company">{{detail.company}}</h1>
                        </div>
                        <div class="d-flex">
                            <small class="agency-title"><span *ngIf="detail.agency">~ {{detail.agency.title}}</span></small>
                            <small class="parent-section">Experience</small>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="detail.contributions || detail.jobtitle">
                        <h2 *ngIf="detail.jobtitle">{{detail.jobtitle}}</h2>
                        <ng-container *ngIf="detail.description">
                            <p *ngFor="let item of detail.description">
                                {{item.text}}
                            </p>
                        </ng-container>
                    </div>

                    <div class="col-12 col-lg-6" *ngIf="detail.contributions">
                        <h3>Contributions</h3>
                        <ul class="pl-4">
                            <li class="mb-1" *ngFor="let contribution of detail.contributions">{{contribution.text}}</li>
                        </ul>
                    </div>

                    <div class="col-12 col-lg-6" *ngIf="detail.achievements">
                        <h3>Achievements</h3>
                        <ul class="pl-4">
                            <li class="mb-1" *ngFor="let achievement of detail.achievements">{{achievement.text}}</li>
                        </ul>
                    </div>

                    <div class="col-12 mb-3" *ngIf="detail.technologies">
                        <h3>Technologies</h3>
                        <div class="badge border bg-white shadow-sm m-1 p-2" *ngFor="let item of detail.technologies">{{item.title}}</div>
                    </div>

                    <div class="col-12" *ngIf="detail$ | async">
                        <h3>Knowledge Base</h3>
                        <div style="display: block;">
                            <canvas height="75px" class="kb-chart" baseChart [datasets]="barChartData" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                        </div>

                        <hr class="my-3">
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-3 pt-md-4">

                <div class="card text-center" *ngIf="detail.logo">
                    <img class="logo" aria-hidden="true" *ngIf="detail.logo" [src]="['assets/images/logos/experience/' + detail.logo]">
                </div>
                <hr class="my-3">


                <div class="small text-muted my-3 mx-3">
                    <ng-container *ngIf="detail.company">
                        <dt>Company:</dt>
                        <dd class="d-flex">
                            <img class="logo-small align-self-center" aria-hidden="true" *ngIf="detail.logo" [src]="['assets/images/logos/experience/' + detail.logo]">
                            <span class="align-self-center">{{detail.company}}</span>
                        </dd>
                    </ng-container>
                    <ng-container *ngIf="detail.agency">
                        <dt><span *ngIf="detail.company != 'Circuit City'">Agency:</span></dt>
                        <dd>
                            <img class="logo-small" aria-hidden="true" *ngIf="detail.agency.logo" [src]="['assets/images/logos/experience/' + detail.agency.logo]"> {{detail.agency.title}}
                        </dd>
                    </ng-container>
                    <ng-container *ngIf="detail.jobtitle">
                        <dt>Position:</dt>
                        <dd>{{detail.jobtitle}}</dd>
                    </ng-container>
                    <ng-container *ngIf="detail.location">
                        <dt>Location:</dt>
                        <dd>{{detail.location}}</dd>
                    </ng-container>
                    <ng-container *ngIf="detail.industry">
                        <dt>Industry:</dt>
                        <dd>{{detail.industry}}</dd>
                    </ng-container>
                    <ng-container *ngIf="detail.employed.startYear && detail.employed.endYear">
                        <dt>Employed:</dt>
                        <dd>{{detail.employed.startYear}} - {{detail.employed.endYear}}</dd>
                        <dt>Supported:</dt>
                        <dd>
                            <span #supported *ngFor="let item of detail.supported; let last = last">
                                {{item}}
                                <span *ngIf="!last">, </span>
                            </span>
                        </dd>
                    </ng-container>
                </div>

                <hr class="my-3">


                <h4 class="sr-only">Work History</h4>
                <div class="card">
                    <ul class="list-group list-group-flush nav-list-group" *ngIf="experiencesMenu$ | async as items">
                        <li class="list-group-item" *ngFor="let item of items">
                            <a [routerLink]="['/experience',item.company | lowercase | removeWhiteSpaces]" routerLinkActive="active" role="button">
                                {{item.company}}
                                <small><br>{{item.jobtitle}}</small>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <hr class="my-3"> -->



            </div>
        </div>

    </div>

</section>