@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
section#experience-detail {
    background-color: $light;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: .875rem;
    line-height: 1.25;
    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        display: block;
        color: $dark;
        line-height: 1.2;
        border-bottom: 1px solid darken($light, 25%);
        margin-bottom: .15rem;
        small {
            font-size: .9rem;
            line-height: 1;
            white-space: nowrap;
        }
    }
    h2 {
        font-family: 'Lato-Thin', sans-serif;
        font-weight: 100;
        color: $dark;
        margin-bottom: 1.5rem;
        padding: 0;
    }
    h3 {
        font-family: 'Lato-Thin', sans-serif;
        font-weight: 100;
        color: $dark;
        margin: 1.5rem 0 1rem 0;
        padding: 0;
        border-bottom: 1px solid rgba($secondary, .5);
    }
    ol {
        padding-left: .75rem;
        li {
            margin-bottom: .5rem;
        }
    }
    .parent-section {
        color: darken($light, 25%);
        font-size: .75rem;
        margin-top: 00px;
        margin-bottom: 1rem;
        padding-right: .25rem;
        text-align: right;
    }
    img.small-logo {
        height: 50px;
        width: auto;
        filter: grayscale(100%);
        opacity: .5;
    }
    img.logo {
        height: auto;
        width: 75%;
        margin: auto;
        //filter: grayscale(100%);
        //opacity: .5;
    }
    .company-small {
        font-size: .7rem;
        color: darken($light, 25%);
    }
    .card {
        .small {
            font-size: .7rem;
        }
        dt {
            display: block;
        }
        dd {
            display: block;
            padding-left: 1rem;
        }
    }
    ul#nav-experiences {
        margin-top: 1rem;
        li {
            padding: 0;
            a {
                display: block;
                text-align: left;
                padding: .75rem 1rem;
                font-size: .8rem;
                color: rgba($dark, 1);
                font-weight: normal;
                background-color: transparent;
                -webkit-transition: all .1s linear;
                transition: all .1s linear;
                // border-left: 0px solid transparent;
                &:hover {
                    background-color: $light;
                    color: $dark;
                    font-weight: 500;
                    text-decoration: none;
                    // border-left: 5px solid $primary;
                }
                &.active {
                    background-color: $light;
                    color: $black;
                    font-weight: 500;
                    pointer-events: none;
                    // border-left: 5px solid $primary;
                }
            }
        }
    }
}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    section#experience-detail {
        .parent-section {
            color: darken($light, 25%);
            font-size: .75rem;
            margin-top: -20px;
            margin-bottom: 1.5rem;
            padding-right: .25rem;
            text-align: right;
        }
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-between(md, xl) {}