@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
small.parent-section {
    display: inline-block;
    margin: -1rem 0 0 0;
    font-size: .75rem;
    white-space: nowrap;
    color: darken($light, 25%);
    width: 100%;
    padding-left: .25rem;
    padding-right: .25rem;
    text-align: right;
}

h2:first-child {
    margin-top: 1rem;
}

img.logo {
    height: auto;
    width: 26%;
    margin: 0 37%;
}

img.logo-small {
    height: auto;
    width: 20%;
    filter: grayscale(100%);
    opacity: .8;
    margin: .25rem .25rem 0 0;
}

.sub-title {
    font-size: .7rem;
    color: darken($light, 25%);
    margin: 0 .25rem 1rem .25rem;
    text-align: center;
}

ul.nav-list-group {
    li {
        padding: 0;
        a {
            display: block;
            text-align: left;
            padding: .75rem 1rem;
            font-size: .8rem;
            color: rgba($dark, 1);
            font-weight: 600;
            background-color: transparent;
            -webkit-transition: all .15s linear;
            transition: all .15s linear;
            &:hover {
                background-color: darken($light, 5%);
                color: $black;
                text-decoration: none;
            }
            &.active {
                background-color: lighten($secondary, 10%);
                color: $light;
                pointer-events: none;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    img.logo {
        width: 60%;
        margin: 1rem 20%;
    }
}