<section id="kb-detail" *ngIf="detail$ | async as kbDetail">
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1">
                <h1 *ngIf="kbDetail.title">{{kbDetail.title}}</h1>
                <div class="parent-section">Knowledge Base</div>
                <div class="card text-left">
                    <div class="card-body">
                        <div [innerHtml]="kbHtml"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 order-1 order-md-2">
                <div class="card">
                    <img *ngIf="baseUrl + kbDetail.logo" [src]="kbDetail.logo" class="logo">
                    <p class="sub-title">{{kbDetail.subTitle}}</p>
                    <ul id="ul-item-links" class="list-group list-group-flush" *ngIf="kbDetail.links">
                        <li class="list-group-item" *ngFor="let link of kbDetail.links; index as a">
                            <a [href]="link.url" class="" target="_blank">{{link.title}}</a>
                        </li>
                    </ul>
                    <ul id="ul-item-links" class="list-group list-group-flush" *ngIf="kbDetail.tutorials">
                        <li class="list-group-item" *ngFor="let link of kbDetail.tutorials.links; index as a">
                            <a [href]="link.url" class="" target="_blank">{{link.title}}</a>
                        </li>
                    </ul>
                </div>
                <nav class="mt-2 list-group">
                    <a [routerLink]="" class="list-group-item" style="cursor: pointer" role="button" (click)="getKbData('angular-getstarted.html')">Getting Started</a>
                    <a [routerLink]="" class="list-group-item" style="cursor: pointer" role="button" (click)="getKbData('angular-routing.html')">Routing</a>
                    <a [routerLink]="" class="list-group-item" style="cursor: pointer" role="button" (click)="getKbData('angular-managing-data.html')">Managing Data</a>
                </nav>
                <!-- <hr class="mt-4 mb-4">
                <h3>Requirements</h3>
                <nav><ul>
                    <li><a href="https://git-scm.com/downloads" target="_blank">Download git</a> - You need git to clone the angular-seed repository.</li>
                    <li><a href="https://nodejs.org/" target="_blank">Download node.js</a> - You must have Node.js and its package manager (npm) installed.</li>
                </ul></nav>
                <hr class="mt-4 mb-4" />
                <h3>Git commands</h3>
                <code>
                    <ul>
                        <li>npm install bootstrap --save</li>
                        <li>npm install popper.js --save</li>
                        <li>git commit -m &quot;Some message about the change&quot;</li>
                        <li>git push -u origin &quot;branch-name&quot;</li>
                    </ul>
                </code>
                <hr class="mt-4 mb-4" />
                <h3>Fix for powershell</h3>
                <p>
                    Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass
                </p> -->
            </div>
        </div>
    </div>
</section>