@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
section#kb-detail {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba($white, 1) 10%, rgba($white, .3), rgba($white, .7));
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    h1 {
        font-size: .75rem;
        border-bottom: 1px solid darken($light, 1%);
    }
    img#logo {
        // position: absolute;
        // left: 0;
        // right: 0;
        //margin: 0 auto;
        width: 25vw;
        height: auto;
    }
}