<!-- <ul *ngIf="kbItems">
    <li *ngFor="let item of kbItems; index as i" data-title="{{i+1}}">

        <p>{{i+1}} - {{item.category}} {{item.title}}</p>
    </li>
</ul> -->



<section id="section-carousel" class="shadow" *ngIf="carouselItems">
    <ngb-carousel *ngIf="carouselItems" class="slide">
        <ng-template ngbSlide *ngFor="let item of carouselItems; index as i">
            <div class="carousel-item-background" [ngStyle]="{'background-image':'url(' + item.background + ')'}">
                <!-- <img [src]="item.background" class="carousel-bg-image" alt="Random slide" /> -->
                <div class="carousel-caption ">
                    <img class="logo-techstack " [src]="item.logo.url " />
                    <h1 class="small text-muted ">No mouse navigation {{item.title}}</h1>
                    <p>{{item.text}}</p>
                    <a [hidden]="item.urlDetailView==''" routerLink="/{{item.urlDetailView}} " class="mt-1 btn btn-outline-dark ">Quick Start {{item.title}}</a>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</section>