@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
$min-height-section-carousel: 400px;
section#section-carousel {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba($primary, 1), rgba($primary, .1), rgba($primary, .3));
    background-size: cover;
    height: 75vh;
    width: 100%;
    min-height: $min-height-section-carousel;
    .carousel-control-prev,
    .carousel-control-next {
        width: 10% !important;
        cursor: pointer;
    }
    .carousel-inner {
        //position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
        }
        .carousel-item {
            /* Force to always be block */
            display: block !important;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            min-height: $min-height-section-carousel;
            opacity: 0;
            -webkit-transition: all .75s linear;
            transition: all .75s linear;
            visibility: hidden;
            &.active {
                position: relative;
                visibility: visible;
                opacity: 1;
            }
            .carousel-item-background {
                // display: block;
                width: auto !important;
                height: 75vh !important;
                min-height: $min-height-section-carousel;
                background-image: none;
                background-attachment: fixed;
                background-position: left bottom;
                background-size: cover;
                background-repeat: no-repeat;
                border-top: 1px solid rgba(000, 000, 000, .6);
                border-bottom: 1px solid rgba(000, 000, 000, .6);
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    background-image: linear-gradient(to bottom, rgba($primary, 1), rgba($primary, .3));
                    background-size: cover;
                }
                .carousel-caption {
                    position: absolute;
                    top: 10%;
                    right: 10%;
                    bottom: 10%;
                    left: 10%;
                    z-index: 4;
                    color: $dark;
                    font-size: .8rem;
                    padding: 0 5%;
                    // text-align: center;
                    background-color: transparent;
                    background-image: linear-gradient(to bottom right, rgba($white, 0), rgba($white, .7), rgba($white, .7), rgba($white, 0));
                    background-size: cover;
                    border: 1px solid rgba($light, .7);
                    border-radius: .25rem;
                    border-radius: .25rem;
                    -webkit-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;
                    -webkit-perspective: 1000px;
                    perspective: 1000px;
                    img#logo-techstack {
                        display: inline-block;
                        height: 135px;
                        margin: -38px 0 -25px 0;
                        -webkit-transition: all .15s linear;
                        transition: all .15s linear;
                        transform: rotateY(0deg);
                        filter: grayscale(0%);
                    }
                    h1 {
                        display: block;
                        border-bottom: 1px solid rgba($dark, .3);
                        padding-top: 1rem;
                        padding-bottom: .25rem;
                        line-height: 1.5;
                        margin: 1rem auto 1rem auto;
                        text-indent: 0rem;
                        text-align: center;
                        -webkit-transition: all .15s linear;
                        transition: all .15s linear;
                    }
                    a.btn {
                        display: block;
                        margin-top: 0.5rem;
                        padding: 0.5rem 1rem;
                        &:hover {
                            color: $light;
                            cursor: pointer;
                        }
                    }
                    hr {
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }
                    &.active {
                        //text-align: left;
                        img#logo-techstack {
                            height: auto;
                            height: 135px;
                            margin: -34px 0 -25px -83%;
                            transform: rotateY(45deg);
                            align-content: left;
                            filter: grayscale(100%);
                        }
                        h1 {
                            //text-indent: -7rem;
                            margin: -70px 0 0 31%;
                            text-indent: .25rem;
                            text-align: left;
                        }
                        p {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// 320
@include media-breakpoint-up(xs) {}

// 768
@include media-breakpoint-up(sm) {
    section#section-carousel {
        .carousel-inner {
            .carousel-item {
                .carousel-item-background {
                    .carousel-caption {
                        // -webkit-perspective: 3000px;
                        // perspective: 3000px;
                        h1 {
                            margin: 2rem auto 2rem auto;
                        }
                        img#logo-techstack {
                            height: 225px;
                            margin: -50px 0 -25px 0;
                        }
                        hr {
                            margin: 2rem 8rem;
                        }
                        a.btn {
                            margin-top: 4rem;
                            max-width: 50%;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        &.active {
                            img#logo-techstack {
                                height: auto;
                                height: 275px;
                                margin-top: -25px;
                                margin-left: -83%;
                            }
                            hr {
                                margin-left: 27%;
                                margin-right: 0;
                            }
                            p {
                                display: block;
                                margin-left: 28%;
                                text-align: left;
                            }
                            h1 {
                                font-size: 1rem;
                                margin-top: -210px;
                                margin-left: 27%;
                                margin-bottom: 1.5rem;
                            }
                            a.btn {
                                max-width: 40%;
                                margin-left: 27%;
                                margin-top: 1rem;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-between(md, xl) {}