<app-carousel *ngIf="knowledgeBaseCards$ | async"></app-carousel>

<section id="experienceCards" *ngIf="experienceCards$ | async">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="sr-only">Knowledge Base</h1>
                <app-experience-list [items]="experienceCards$ | async"></app-experience-list>
            </div>
        </div>
    </div>
</section>

<app-jumbotron [items]="jumboTronEX$ | async"></app-jumbotron>

<section id="knowledgeBaseCards" *ngIf="knowledgeBaseCards$ | async">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="sr-only">Knowledge Base</h1>
                <app-kb-list-cards [items]="knowledgeBaseCards$ | async"></app-kb-list-cards>
            </div>
        </div>
    </div>
</section>