<app-carousel-home-page></app-carousel-home-page>


<app-knowledge-base></app-knowledge-base>
<!-- <app-knowledge-base (onItemSelected)="selectItem($event)" [items]="someData$ | async"></app-knowledge-base>

<div *ngIf="!selectedItem">no selected item</div>
<div *ngIf="selectedItem">you selected {{selectedItem.firstName}}</div>
 -->

<!-- Unwrap observable 
<app-knowledge-base [items]="someData$ | async"></app-knowledge-base>
<div *ngIf="!selectedItem">no selected item</div>
<div *ngIf="selectedItem">you selected {{selectedItem.firstName}}</div>
<app-knowledge-base (onItemSelected)="selectItem($event)" [items]="someData$ | async"></app-knowledge-base> -->