@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
.card-columns {
    column-count: 1;
}

.card {
    .card-body {
        font-size: .9rem;
        .logo {
            height: 30px;
            width: auto;
            float: right;
            margin: -1rem -1rem 0 0;
            filter: grayscale(100%);
            opacity: .7;
            transform: scale(1);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
            &:hover {
                opacity: 1;
                transform: scale(1.1);
                filter: grayscale(0%);
                cursor: pointer;
            }
        }
        ul#ul-item-links {
            margin: 0 0 0 .5rem;
            padding: 0;
            list-style-type: none;
            font-size: .8rem;
        }
        .card-title {
            font-size: .79rem;
            // color: lighten($dark, 35%);
            line-height: 1.25;
            margin-bottom: .5rem;
        }
        .card-company {
            font-size: .7rem;
            color: lighten($dark, 35%);
            line-height: 1.25;
            margin-bottom: .5rem;
        }
        .card-text {
            font-size: .85rem;
            color: lighten($dark, 15%);
            line-height: 1.35;
            margin-bottom: 1rem;
        }
        a {
            text-decoration: underline;
            font-size: .775rem;
            &.btn {
                text-decoration: none;
            }
            &:not(.btn):before {
                //content: "\f054";
                content: "\f0c1";
                font-family: "FontAwesome";
                font-weight: 200;
                font-size: .8rem;
                color: lighten($dark, 35%);
                margin-right: .25rem;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                opacity: .5;
                -webkit-transition: all .15s ease-out;
                transition: all .15s ease-out;
            }
            &:hover {
                text-decoration: none;
                &:not(.btn):before {
                    opacity: 1;
                    color: $secondary;
                }
            }
        }
    }
}

@include media-breakpoint-up(xs) {
    .card-columns {
        column-count: 1;
    }
}

@include media-breakpoint-up(sm) {
    .card-columns {
        column-count: 1;
    }
}

@include media-breakpoint-up(md) {
    .card-columns {
        column-count: 2;
    }
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-between(md, xl) {}