@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/_mixins.scss";
//@import "../css/variables";
$bg-albert-einstein: url('../../../assets/images/backgrounds/albert-einstein.jpg');
$bg-inigo-montoya: url('../../../assets/images/backgrounds/inigo-montoya.jpg');
$bg-steve-jobs: url('../../../assets/images/backgrounds/steve-jobs.jpg');
$bg-jerry-seinfeld: url('../../../assets/images/backgrounds/jerry-seinfeld.jpg');
.albert-einstein {
    background-image: linear-gradient(to bottom right, rgba($primary, 1), rgba($primary, .3), rgba($black, .4), rgba($primary, .5)), $bg-albert-einstein;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 568px;
    background-color: $primary;
    margin: 0;
    padding-top: 15vh;
    text-align: right;
    position: static;
    overflow: hidden;
    p {
        font-weight: 100;
        font-size: 1.1rem;
        text-shadow: .1rem .1rem .5rem $black;
        color: $light;
        &.lead {
            font-family: 'Roboto', sans-serif;
            font-size: 1.75rem;
            text-shadow: .25rem .25rem .75rem rgba($black, .7);
            line-height: 1.25;
        }
    }
}

.inigo-montoya {
    background-image: linear-gradient(to bottom right, rgba($primary, 1), rgba($primary, .3), rgba($black, .4), rgba($primary, .5)), $bg-inigo-montoya;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 568px;
    background-color: $primary;
    margin: 0;
    padding-top: 15vh;
    text-align: right;
    position: static;
    overflow: hidden;
    p {
        font-weight: 100;
        font-size: 1.1rem;
        text-shadow: .1rem .1rem .5rem $black;
        color: $light;
        &.lead {
            font-family: 'Roboto', sans-serif;
            font-size: 1.75rem;
            text-shadow: .25rem .25rem .75rem rgba($black, .7);
            line-height: 1.25;
        }
    }
}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {
    .albert-einstein {
        background-image: linear-gradient(to bottom right, rgba($primary, 1), rgba($black, .7), rgba($primary, .5)), $bg-albert-einstein;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        background-attachment: fixed;
        background-color: $primary;
        margin: 0;
        padding-top: 45vh;
        text-align: right;
        p {
            font-weight: 100;
            font-size: 1.25rem;
            text-shadow: .1rem .1rem .5rem $black;
            color: $light;
            &.lead {
                font-family: 'Roboto', sans-serif;
                font-size: 3rem;
                text-shadow: .25rem .25rem .75rem rgba($black, .7);
                line-height: 1.25;
            }
        }
    }
    .inigo-montoya {
        background-image: linear-gradient(to bottom right, rgba($primary, 1), rgba($black, .4), rgba($primary, .5)), $bg-inigo-montoya;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        //min-height: 70vh;
        background-attachment: fixed;
        background-color: $primary;
        margin: 0;
        padding-top: 35vh;
        text-align: right;
        p {
            font-weight: 100;
            font-size: 1.25rem;
            text-shadow: .1rem .1rem .5rem $black;
            color: $light;
            &.lead {
                font-family: 'Roboto', sans-serif;
                font-size: 3rem;
                text-shadow: .25rem .25rem .75rem rgba($black, .7);
                line-height: 1.25;
            }
        }
    }
}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-between(md,
xl) {}